    @media screen and (max-width: 768px) {
        .nav2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            z-index: 1;
            top: 100%;
            left: -150%;
            width: 100%;
            height: 465px;
            background-color: #F2F5F1;
            transition: 500ms;
        }
        .nav_button_mobile {
            display: flex;
            width: 40px;
            height: 100%;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
    
    @media screen and (max-width: 520px) {
        .low_screen {
            display: none;
        }
        .table_box2 {
            flex-direction: row;
        }
        .title_row1 p {
            font-size: 36px;
        }
    }
    
    @media screen and (max-width: 430px) {
        .f_box1_nav {
            flex-direction: column;
            align-items: center;
            row-gap: 10px;
        }
        .f_box2_nav {
            flex-direction: column;
            row-gap: 10px;
        }
        .title_row2 {
            width: 235px;
            left: calc(50% - 117px);
        }
        .title_row2 p {
            font-size: 20px;
        }
        .nav1 {
            display: none
        }
        .table_box1_info_text,
        .table_box2_info_text,
        .table_box3_info_text {
            width: 90%;
        }
    }
    
    @media screen and (max-width: 390px) {
        .footer_mobile {
            top: 2750px;
        }
    }