@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
.content {
    padding-top: 3px;
}

.info {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    position: relative;
}

.title_row1 {
    position: absolute;
    top: -210px;
    left: 31.1%;
    height: 80px;
    width: 517px;
}

.title_row1 p {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: 0.03em;
}

.title_row2 {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 35.13%;
    top: 89px;
}

.title_row2 p {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.03em;
    color: #000000;
}

.table {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 178px;
    padding: 0 81px 0 97px;
}

.table_box1,
.table_box2,
.table_box3 {
    position: relative;
    width: 342px;
    height: 493px;
}

.table_box1_photo,
.table_box2_photo,
.table_box3_photo {
    position: absolute;
    left: 19px;
}

.table_box1_info_title,
.table_box2_info_title,
.table_box3_info_title {
    position: absolute;
    height: 28px;
    top: 173px;
    left: 48px;
}

.gray {
    color: #999999;
}

.table_box_info_title {
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #000000;
}

.table_box1_info_text,
.table_box2_info_text,
.table_box3_info_text {
    position: absolute;
    top: 227px;
    left: 47px;
    width: 295px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.line1 {
    position: absolute;
    left: -23px;
    height: 210px;
    top: 7px;
    border-left: 2px solid #ED8651;
}

.line2 {
    position: absolute;
    left: -23px;
    height: 280px;
    top: 7px;
    border-left: 2px solid #ED8651;
}

.line3 {
    position: absolute;
    left: -23px;
    height: 280px;
    top: 7px;
    border-left: 2px solid #ED8651;
}

.table_box1_info_title {
    width: 285px;
}

.table_box2_info_title {
    width: 246px;
}

.table_box3_info_title {
    width: 243px;
}

.footer {
    height: 90.73px;
    width: 1445px;
    background-color: #16595A;
    bottom: 0;
    position: absolute;
}