.card{
    background: silver;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: solid 2px black;
    border-radius: 15px;
}

.mainBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.classButtom{
    display: flex;
    justify-content: center;
    margin: 30px;
}