html {
    scroll-behavior: smooth;
}

h1 {
    background-color: darkred;
    color: mistyrose;
    text-align: center;
}

h2 {
    background-color: orange;
    color: brown;
    text-align: left;
    padding-left: 60px;
}

.jastify {
    text-align: justify;
    font-size: 20px;
    padding-left: 20px;
}

.list {
    font-size: 22px;
}

.image {
    display: block;
    width: 200px;
    height: auto;
    margin: 0 auto;
}

.menu li {
    display: inline-block;
}